/** Website template by # **/
*{  margin:0;  padding:0;  }
body{ margin:0;  padding:0;  background: url("../images/bg-pattern.png");font-family: sans-serif Arial;font-size:14px;color: #595757;}
a{ outline:0;text-decoration: none;}
img{ border:0;}
form{display:block;}
h1, h2, h3, h4, h5, h6 {  font-size: 100%;  font-weight: normal;  }
div#header{background: transparent url("../images/bg-header.png");  background-position:top;  background-repeat: repeat-x;  height: 147px; }
.clearfix:after {visibility: hidden;  display: block;  font-size: 0;  content: " ";  clear: both;  height: 0; }
.mainNav{ width: 1170px;  height: 147px;position: relative; }
.yp-login { width:294px;float:left;  padding-top:38px;  margin-right:106px; }
.yp-channel {width:600px; height:90px; float:right; padding-top:38px;}
.yp-channel ul{list-style: none;font-family: sans-serif Arial;  font-size:18px;}
.yp-channel ul li {float: left;  height: 90px;  line-height: 90px;}
.yp-channel ul li a {text-decoration: none;color:#bababa;text-transform: uppercase;display: block;line-height: 90px;padding:0 25px;border-style: solid;border-width:1px;border-color: #151e24;  border-top:none;}
.yp-channel ul li a:hover{background-color: #000000;color: #ffffff;  font-size:18px;  font-family: Arial;  border-style: solid;  border-width: 1px;  border-color: #232e32;  border-top:none;}
.yp-channel ul li a:active{background-color: #000000;color: #ffffff;  font-size:18px;  font-family: Arial;  border-style: solid;  border-width: 1px;  border-color: #232e32;  border-top:none;}

/*************End OF Header ****************/
.mainContent{background: transparent url("../images/bg-body.png");  background-position: top;  background-repeat: repeat-x;  margin:0;  padding:0;}
.picNav{width: 960px;  margin:0 auto;  position: relative;}

.footer{background: #333333;margin-top: 20px;display:block;width:100%;position:absolute;bottom:0;left:0;}
.profile{padding-top:20px;margin-left:20px;line-height: 25px;}
.profile h1{font-size:24px;}
.profile p{text-indent:28px}

/***********************ËÑË÷¿ò  background: #fbfbfb #38aa3e***************/
.searchBox{min-width: 1200px;height: 100px;background: #fbfbfb;margin-bottom:20px;}
.innerSearch {height: 100px;position: relative;}
.wrapper{width: 1200px;  margin: 0 auto;}
.fhdLogo {width: 110px;height: 50px;margin-top: 20px;margin-left: 45px;background: url("../images/yp1.png") no-repeat;}
.fll {float: left;}
.searchArea {  position: relative;  float: left;  height: 60px;  margin-top: 14px;  margin-left: 35px;  background: purple url("../images/site.png") 20px center no-repeat;  border-radius: 10px;  -webkit-border-radius: 10px;  -moz-border-radius: 10px;  -o-border-radius: 10px;}
.s_place {  margin-left: 70px;  border-radius: 5px 0 0 5px;  -webkit-border-radius: 5px 0 0 5px;  -o-border-radius: 5px 0 0 5px;  -moz-border-radius: 5px 0 0 5px }
.sfliter{  float: left;  display: inline-block;  height: 40px;  background: #fff;  margin-top: 10px;  }
.fn-pr{  position: relative;  }
.sfliter .f {  float: left;  display: inline-block;  padding: 0 15px;  line-height: 40px;}
.sfliter .f .p {  font-size: 20px;  color: #595757;}
.sfliter .arrow {  float: right;  display: inline-block;  width: 30px;  height: 40px;background: #9edda2 url("../images/arrow.png") center center no-repeat;cursor: pointer;}
.s_type .fresult {  width: 99px;}
.fresult {  position: absolute;  top: 40px;  left: 0;  padding: 15px;  border: 1px solid #9edda2;  background: #fff;  display: none;  z-index: 9999;  }
.search_bar {  float: left;  }
#searchKeyword {width: 353px;height: 20px;float: left;  padding: 10px 0 10px 15px;  border-radius: 0 5px 5px 0;  border-right-width: 0;  background-color: #fff;  border: none;  margin-top: 10px;  font-size: 12px;  }
input, textarea, select {  font-family: inherit;  font-size: inherit;  font-weight: inherit;  }
#submit-btn {  line-height: 60px;  margin-left: 22px;  margin-right: 25px;  font-size: 24px;  color: #fff;  border: none;  background: none;  cursor: pointer;  }
/**********/
.inner_container {  background: #fff;  }
.hdFliter {  width: 1170px;  margin: 0 15px 30px;  border: 1px solid #dcdcdc;  }
.tab_hd li.on {  background: #fff;  color: #f97700;  border-bottom: none;  }
.tab_hd li {  float: left;  width: 1168px;  height: 50px;line-height: 50px;  text-align: center;border-bottom: 1px solid #dcdcdc;  background: #fafafa;  font-size: 18px;  cursor: pointer;  }
.tab_hd li a {  display: block;  }
.fbox_hd {  margin-top: 8px;  padding: 0 23px;  }
.fgroup dl {  padding: 20px 20px 7px;  border-bottom: 1px dotted #b4b5b5;  font-size: 12px;  font-family: "simsun";  }
.fgroup dt {  width: 76px;  }
.fgroup dd{width:1008px;}
.fgroup dt, .fgroup dd {  float: left;  }
.fgroup dd .selected {  float: left;  color: #fff;  background: #f97700;  padding: 3px 5px;  }
.fgroup dd a {  display: inline-block;  margin-right: 10px;  margin-bottom: 13px;  }
.selectSetTime {  display: none;  }
/******/
.hdList {  width: 1170px;  margin: 0 15px;}
.hdListLeft{width: 1172px;}
.orderHd {  height: 40px;  line-height: 40px;  border: 1px solid #dcdcdc;  }
.orderHd .ol.selected {  background-color: #3cb43c;  color: #fff;  }
.orderHd .ol {  float: left;  padding: 0 28px;  text-align: center;  border-right: 1px solid #dcdcdc;  font-family: "simsun";  cursor: pointer;  }
.orderHd .n {  display: inline-block;  float: right;  margin-right: 20px;  font-size: 14px;  font-family: 'simsun';  }
.orderHd .n span {  color: #3cb43c;  }
/******/
.hdItem {  float: left;  display: block;  width: 1150px;  border: 1px solid #dcdcdc;  padding: 10px;  margin-top: 20px;  background: #fafafa;  }
.hdItem dt, .hdItem dd {  float: left;  }
.hdItem dt a, .hdItem dt img {  float: left;  }
.hdItem dt a {  position: relative;  }
.hdItem dt a .tag {  left: -4px;  bottom: 0;  width: 58px;  height: 30px;  line-height: 30px;  color: #fff;  font-size: 12px;  padding-left: 5px;  background: url("../images/tag.png") no-repeat;}
.hdItem dd {  width: 920px;  margin-left: 30px;  }
.hdItem dd h5 {  height: 24px;  line-height: 24px;  font-size: 18px;  color: #3cb43c;  overflow: hidden;  white-space: normal;  }
.hdItem dd h5 a {  color: #3cb43c;  }
.hdItem .di {  width: 100%;margin-top: 20px;  }
.hdItem .di .di-l {  width: 700px;margin-right:20px;}
.hdItem .di .di-l li {  width: 233px;float: left;  height: 25px;  line-height: 25px;  margin-bottom: 25px;  font-size: 18px;  font-family: 'simsun';  overflow: hidden;  white-space: normal;  }
.hdItem .di .di-l .row2 li.date {  width: 466px; }

.hdItem .di-r {  width:200px;}
.flr {  float: right;  }
.hdItem .di-r .p {  height:100px;text-align:center;line-height:100px;font-size: 48px;  color: #ff0000;  }
.hdItem .di-r .p span {  font-size: 24px;  color: #ff0000;  }
.hdItem .di-r .r {height:50px;font-size: 18px;  font-family: 'simsun';  overflow: hidden;  white-space: normal;padding-left:50px;}